<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Junior Journey{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/style.css"%}" />
    <script src="{% static 'js/main.js' %}" defer></script>
    <link rel="icon" type="image/x-icon" href="{% static "icon/JJ-favicon.png" %}">
  </head>
  <body>
    <nav>
    &nbsp;<a class="nav-button" href="/" title="Home">🏠</a>&nbsp;
    <a class="nav-button" href="/about/" title="About">❔</a>&nbsp;
    {% if user.is_authenticated  %}
    
    <a class="nav-button" href="{% url "posts:list" %}" title="Posts">📰</a>&nbsp;
    <a class="nav-button" href="{% url "posts:new-post" %}" title="New Post">📝</a>&nbsp;
    <a class="nav-button" href="{% url "subscriptions:subscriptions" %}" title="Search">🔍</a>&nbsp;
    <a class="nav-button" href="{% url "pdf_app:upload_pdf" %}" title="Pdf Compressor">📃</a>&nbsp;
    <div class="logout-div">
      <form class="logout" action="{% url "users:logout" %}" method="post">
        {% csrf_token %}
      <button class="logout-button" title="User Logout">👋</button>
    </form>
  </div>
    {% else %}
<a class="nav-button" href="{% url "users:login" %}" title="User Login">Login</a>&nbsp;
<a class="nav-button" href="{% url "users:register" %}" title="User Register">Register</a> 
{% endif %}
</nav>
<main>{% block content %}{% endblock %}</main>
  </body>
</html>
