{% extends "layout.html" %}



{% block title %}Posts{% endblock %} 


{% block content %}
<h1>Posts</h1>
<section class="post-list-section">
    {% for post in posts  %}
    <article class="post-list">
        <h2 class="post-title">
         <a href="{% url 'posts:page' slug=post.slug %}">
            {{post.title}}
        </a>
        </h2>
        <p class="post-date">{{post.date}} by {{ post.author }}</p>
        <p class="post-body">{{ post.body|slice:":100" }}{% if post.body|length > 100 %}....<a href="{% url 'posts:page' slug=post.slug %}">
            &nbsp;&nbsp;<br>read more
        </a>{% endif %}</p>
    </article>
    {% endfor %}

</section>
{% endblock %}


