{% extends "layout.html" %}



{% block title %}Upload PDF{% endblock %} 


{% block content %}
<section>
    <h1>Pdf Compressor Tool</h1>
    <article>

        <form class="pdf-upload-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            
            <button type="submit">Compress Pdf!</button>
        </form>
    </article>
</section>
<br><br>

<section class="applications">
    {% if files %}
    <table>
        <tr>
            <th>Num</th>
            <th>Name</th>
            <th>Date</th>
        </tr>

    {% for file in files  %}

    <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href={{file.url}} title="Download">{{file.name}}</a></td>
        <td>{{ file.date }}</td>
        

        {% comment %} <td><a href="{% url "applications:page" application.id %}" title="View">View Description</a></td> {% endcomment %}
        {% comment %} <td>download</td>
        <td><button onclick="deleteApplication({{application.id}})">Delete</button></td> {% endcomment %}
    </tr>
{% endfor %}
</table>
    {% else %}
    <p>no urls</p>
    {% endif %}
</section>
{% endblock %}


