{% extends "layout.html" %}



{% block title %}Applications{% endblock %} 


{% block content %}
<h1>Applications</h1>
<form action="{% url "applications:new-application" %}">
    <input class="new-post-button" type="submit" value="Add New Application" />
</form>
<section class="applications">
    {% if applications %}
    <table>
        <tr>
            <th>Num</th>
            <th>Date</th>
            <th>Company</th>
            <th>Role</th>
            <th>Status</th>
            <th>Description</th>
            <th>Resume</th>
        </tr>

    {% for application in applications  %}

    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{application.applied_date}}</td>
        <td>{{application.company_name}}</td>
        <td>{{application.role}}</td>
        <td>{{application.status}}</td>
        <td><a href="{% url "applications:page" application.id %}" title="View">View Description</a></td>
        <td>download</td>
        <td><button onclick="deleteApplication({{application.id}})">Delete</button></td>

    </tr>
{% endfor %}
</table>
    {% else %}
    <p>no applications</p>
    {% endif %}
</section>
{% endblock %}


