{% extends "layout.html" %} {% block title %}Subscriptions{% endblock %} 
{% block content %}

<h1>Subscriptions</h1>
<section class="subscriptions-section">

  <form class="search-form" action="">
  <input class="search-input "type="text" placeholder="Search Users" name="users" id="search-users">
  <button type="submit">Search</button>
  </form>
</section>

<section>
  <ul>
  {% for user in users  %}
    <li>
      <p>{{user.username}}</p>
    </li>
  {% endfor %}
  </ul>
  
  
  
  


</section>
  {% comment %} <h2>My Subscriptions</h2>
  <ul>
{% for sub in subs  %}
<li>{{sub.sub_name}}</li>
{% endfor %}
</ul>

<h2>Who I subscribed to?</h2>
<ul>
  {% for pub in pubs  %}
  <li>{{pub.pub_name}}</li>
  {% endfor %}
  </ul> {% endcomment %}


{% endblock %}
