{% extends "layout.html" %} {% block title %}Subscriptions{% endblock %} 
{% block content %}

<h1>Subscriptions</h1>
<section class="subscriptions-section">

  <form class="search-form" action="">
  <input class="search-input "type="text" placeholder="Search Users" name="users" id="search-users">
  <button type="submit">Search</button>
  </form>
</section>

<section>
  <ul>
  {% for search_user in users  %}
    <li class="user-search-li">
      <p class="user-search-p">{{search_user.username}}</p>
      {% comment %} <form method="POST" action="{% url 'subscriptions:sub' user.id%}">
        {% csrf_token %}
        {{ form }}
        </form> {% endcomment %}
        {% csrf_token %}
        <p>{% csrf_token %}</p>
        {{button}}
      <button class="user-search-button" onclick="subscribe({{user.id}},{{search_user.id}})">Follow</button>
    </li>
  {% endfor %}
  </ul>
  <br>
  <h2>Followers</h2><br>
  <ul>
    {% for sub in subs  %}
      <li>
        <p>{{sub.sub_name}}</p>
      </li>
    {% endfor %}
    </ul>
    <br>
    <h2>Following</h2><br>
    <ul>
      {% for pub in pubs  %}
        <li>
          <p>{{pub.pub_name}}</p>
        </li>
      {% endfor %}
      </ul>

  
  
  


</section>
  {% comment %} <h2>My Subscriptions</h2>
  <ul>
{% for sub in subs  %}
<li>{{sub.sub_name}}</li>
{% endfor %}
</ul>

<h2>Who I subscribed to?</h2>
<ul>
  {% for pub in pubs  %}
  <li>{{pub.pub_name}}</li>
  {% endfor %}
  </ul> {% endcomment %}


{% endblock %}
